#map {
  height: 500px;
  width: 100%;
}
#userList {
  margin-top: 20px;
  display: none;
}
#userList ul {
  list-style-type: none;
  padding: 0;
}
#userList li {
  margin-bottom: 10px;
}
#buttons {
  margin-bottom: 10px;
}

body{
  background-color: rgb(253, 243, 230);
}